/* PROJECTS */

/* ========================================================================================================== */
/* global */

h1,


h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  /* list-style-type: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
  outline: none;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

/* Скидаємо встановлені стилі (відступи) в браузері для h1-h6, p, ul, ol, img */

/* ============================================================================================================= */
/* KOLOR */

:root {
  --primary-brand-color: #4d5ae5;
  /* CTAs Focused Active states Links - Призывы к действию Сфокусированные активные состояния Ссылки */
  --pressed-state-color: #404bbf;
  /* CTAs - Призывы к действию  */
  --dark-color: #2e2f42;
  /* Overlays Shadows Headings - Наложения Тени Заголовки - bgc footer*/
  --success-color: #31d0aa;
  /* Valid fields Success messages    - Допустимые поля Сообщения об успехе*/
  --text-color: #434455;
  /* Body text    - Основной текст*/
  --subtle-text-color: #8e8f99;
  /* Helper text Deemphasized text    - Вспомогательный текст Текст без выделения */
  --accent-color: #e7e9fc;
  /* Accent color Hairlines Subtle backgrounds    - Акцентный цвет Линии волос Тонкий фон */
  --light-color: #f4f4fd;
  /* Light mode backgrounds Light mode Dialogs/alerts     - Фоны светлого режима Светлый режим Диалоги/оповещения  -  bgc Our Team */
  --modal-overlay-color: #e7e9fc;
  /* Overlay  - Наложение*/
  --hero-background-color: #2e2f42;
  /* Hero image background    - Фон изображения героя */
  --hero-text: #fff;
  --modal-desk: #757575;
  /* текст Hero, BGC Body */
  --radius-butoon: 4px;
  /* радіус заокруглення кнопок */
  --gap-column: 24px;
  --column: 3;
  --indent-sections: 120px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --trns-fast: 400ms;
  --trns-slow: 800ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============================================================================================================= */
/* TEXT */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--hero-text);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  /* устанавливаем основной фон, цвет и вид шрифта для всей страницы  */
}

.nav-link,
.address-item,
.portfolio-list {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  /* устанавливем шрифт */
}

.social-text,
.subscribe-text {
  color: var(--hero-text);
  font-size: 16px;
  line-height: 1.5;
  /* устанавливем шрифт*/
}

.nav-link,
.social-text,
.subscribe-text {
  font-weight: 500;
  list-style-type: none;
  /* устанавливем шрифт меню навигации */
}

.nav-link:hover,
.nav-link:focus,
.address-item:hover,
.address-item:focus,
.contact-name:hover,
.contact-name:focus,
.projects:hover,
.projects:focus,
.previous-button:hover,
.previous-button:focus,
.next-button:hover,
.next-button:focus

 {
  color: var(--pressed-state-color);
  list-style-type: none;

  /* устанавливем цвет фона ссылок навигации и адреса при наведении Tab и мышкой*/
}

.nav,
.nav-link {
  color: var(--dark-color);
  list-style-type: none;
  /* устанавливаем цвет шрифта для навигации и второй части лого */
}

.logo {
  color: var(--primary-brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style-type: none;
  /* устанавливаем параметры шрифта для лого и цвет для первой части лого */
}

.logo-second {
  color: var(--dark-color);
  list-style-type: none;
  /* устанавливаем цвет шрифта для второй части лого */
}

.page-footer {
  background-color: var(--dark-color);
  color: var(--modal-overlay-color);

  /* устанавливаем фон и цвет шрифта футера */
}

.page-footer .logo-second {
  color: var(--light-color);
  /* изменяем цвет шрифта второй части лого в футере */
}

.hero-headline {
  width: 496px;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: calc(60 / 56);
  color: var(--hero-text);
  letter-spacing: 0.02em;
  /* устанавливаем параметры шрифта для заголовка Hero */
}

.page-hero {
  background-color: var(--hero-background-color);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state-color);

  /* устанавливем цвет фона кнопки при наведении Tab и при нажатии мышкой */
}



.button {
  background: var(--primary-brand-color);
  color: var(--hero-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* устанавливем цвет шрифта кнопки и меню навигации */
}

.work,
.worker,
.customer {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  /* устанавливаем цвет и пареметры шрифта в секторах What are we doing и Our Team */
}

.worker-section {
  background-color: var(--light-color);
  /* устанавливаем цвет фона в секторе Our Team */
}

.worker-item {
  background-color: var(--hero-text);
  /* устанавливаем цвет фона для фотографий сотрудников в секторе Our Team */
}

.filters-list {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
  /* устанавливем цвет и параметры шрифта кнопок в неактивном состоянии  */
}

.filters-list:hover,
.filters-list:focus {
  color: var(--hero-text);
  background: var(--pressed-state-color);
  /* устанавливем цвет фона ссылок навигации и адреса при наведении Tab и мышкой*/
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  /* устанавливаем цвет и пареметры шрифта в тексте параграфов*/
}

.product .text {
  color: var(--light-color);
}

.page-footer .text {
  color: var(--modal-overlay-color);
}

.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  /* устанавливаем цвет и пареметры шрифта в тексте h3*/
}

/* ============================================================================================================= */
/* INDENT TEXT  */

/* global  */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

.header {
  display: flex;
  align-items: center;
  
}

.page-header {
  /* min-height: 76px; */
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.no-transparency {
  background-color: rgba(17, 19, 25, 0.4);

}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.link {
  display: block;
  list-style-type: none;
}

.link,
.button,
.modal-btn,
.subscribe-button,
.modal-form-button {
  transition-property: background-color, color, border, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  list-style-type: none;
}

.nav .link,
.address .link {
  padding-top: 24px;
  padding-bottom: 28px;
  position: relative;
  list-style-type: none;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
list-style-type: none;
  background-color: var(--pressed-state-color);
}

.nav-link.current {
  color: var(--pressed-state-color);
  list-style-type: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-left: 76px;
  list-style-type: none;
}

.address {
  margin-left: auto;
  list-style-type: none;
}

.address-list {
  display: flex;
  justify-content: end;
  column-gap: 40px;
  list-style-type: none;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-conteiner {
  display: flex;
  
  align-items: baseline;
}

.page-footer .text {
  margin-top: 16px;
}

.footer-logo {
  width: 264px;
  margin-right: var(--indent-sections);
}

.headline {
  margin-bottom: 8px;
}

.subscribe {
  margin-right: 15px;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-submit {
  position: relative;
}

.subscribe-email {
  width: 264px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);

  user-select: none;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-email:focus,
.subscribe-email:focus-visible {
  outline-color: rgba(0, 0, 0, 0.15);
  transition: outline-color var(--trns-fast);
}

.subscribe-button {
  position: relative;
  width: 165px;
  padding: 8px 64px 8px 24px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background: var(--pressed-state-color);
}

.subscribe-form-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social-cell {
  width: 40px;
  height: 40px;
}

.social-text,
.subscribe-text {
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--light-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--success-color);
}

.social-icon {
  display: block;
  fill: currentColor;
}

/* ============================================================================== */
/* PAGE STUDIO */

/* HERO */

.hero {
  display: block;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero/people-office\ 1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-headline {
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  margin-top: 48px;
  width: 169px;
  height: 56px;
  padding: 15px 31px;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-butoon);
  border: none;
}

/* SECTION 1 */

.feature-section {
  display: flex;
  justify-content: center;
  padding-top: var(--indent-sections);
  padding-bottom: var(--indent-sections);
}

.feature-list {
  display: flex;
  column-gap: var(--gap-column);
}

.feature-item {
  flex-basis: calc((100% / var(--column)) - var(--gap-column));
}

.feature-pictures {
  height: 112px;
  background: var(--light-color);
  border-radius: var(--radius-butoon);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icons {
  display: block;
}
/* SECTION 2 */

.work-section {
  display: flex;
  justify-content: center;
  padding-bottom: var(--indent-sections);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: var(--gap-column);
}

/* SECTION 3 */

.worker-section {
  padding-bottom: var(--indent-sections);
  padding-top: var(--indent-sections);
}

.worker {
  margin-bottom: 72px;
}

.worker-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-column);
}

.worker-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.worker-text .text {
  margin-bottom: 8px;
}

.worker-link {
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light-color);
}

.worker-link:hover,
.worker-link:focus {
  background-color: var(--pressed-state-color);
}

/* SECTION 4 */

.customer-section {
  display: flex;
  justify-content: center;
  padding-bottom: var(--indent-sections);
  padding-top: calc((var(--indent-sections)) + 10px);
}

.customer-list {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 72px;
  align-items: center;
  justify-content: center;
  column-gap: var(--gap-column);
}

.customer-link {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: var(--subtle-text-color);
  padding: 15px 31px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  fill: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
}

.customer-icon {
  display: block;
  border: none;
}
/* ============================================================================== */
/* PAGE PORTFOLIO */


/**
  |============================
  | FINGER
  |============================
*/

.finger-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.finger-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-column);
  row-gap: 48px;
  list-style-type: none;
  margin-bottom: 100px;
}

.finger-item {
  flex-basis: calc((100% / var(--column)) - var(--gap-column));
}

.finger-text {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
}

.portfolio-list:hover {
  /* border: 1px solid var(--light-color); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/



/* OVERLAY */

@keyframes overlay {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes overlay-reverse {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

.product {
  position:relative;
  overflow: hidden;
  
   
}


.product-list {
  
  overflow: hidden;
  transition: 1s; /* Время эффекта */
   
}
.product-list:active,
.product-list:focus {
  background: var(--pressed-state-color);
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1), 0px 4px 3px rgba(0, 0, 0, 0.08),
    0px 4px 4px rgba(0, 0, 0, 0.12);
  border: none;

 transform: scale(2); 
 position:relative;
align-content: center;

}




.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: var(--primary-brand-color);
}

.portfolio-list:hover .product-overlay {
  animation: overlay 1000ms ease-out both;
  visibility: visible;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list:not(:hover) .product-overlay {
  animation: overlay-reverse 1000ms ease-out both;
  visibility: visible;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list:focus .product-overlay {
  animation: overlay 1000ms ease-out both;
  visibility: visible;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}










/* CV */




body
 /* елемент який стилізується  */
{
    font-family: 'Montserrat', sans-serif;
    /* CSS - вставляємо інформацію з сайту https://fonts.google.com після вибраного шрифту щодо вибраного шрифту */
    background: #FFFFFF;
    /* background: - колір тла */
}
.wrapper 
/* .- стиль який стилізується */
{
    display: flex;
    /* flexbox інструмент для надання відповідних стилів, display: flex - спосіб відображення, в даному випадку дві колонки, де головний розділ - main завжди перший */
    flex-direction: row-reverse;
    /* flex-direction - керунок відображення, де row - відображення в стовбчик, а row-reverse - в стовбчик в зворотньому порядку*/
    width: 1200px;   
    /* висота блоку <div> */
    justify-content: center;
    /* justify-content: спосіб центрування контенту в блоці */
    margin: 0 auto;
    /* margin: відступ блоку від інших блоків  */
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    /* box-shadow: надає тінь по контуру блока */
}

aside {
    width: 373px;
    /* висота */
    background: #1E2939; 
    
}

.name {
   
    font-weight: 600;
    font-size: 32px;
   
}
.cv-photo {
    margin: 40px 0 0 0;
}

.header-secondary {
    color:#FFFFFF;
    /* background: - колір елементу */
}

.contact-links,
.contact-name {
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    transition: 250ms;
}

.bold {
    font-weight: 700;
}

.list-sekondary {
    color: #FB6D3A;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    /* padding: відступ контенту в середині блоку від країв блоку  */
    list-style-position: inside;
    /* list-style-position: стиль списку, тобто де має бути розміщено значник списку, inside - в середині */
}

.list-secondary-item {
    color:#FFFFFF;
    font-weight: 400;
   
}

.contact-blok {
    margin-top: 51px;
    margin-left: 40px;
}

.tech-skills-blok {
    margin-top: 47px;
    margin-left: 40px;
}

.soft-skills-blok {
  width: 550px;
    
}

main {
    padding: 88px 102px 88px 102px;
   
}

.main-deskription {
    width: 550px;
    
}

.job-tytle {
    font-weight: 700;
    font-size: 24px;
    line-height: 17px;
    color: #FB6D3A;
}

h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
}

.deskription {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}

.projects {
    width: 485px;
    margin-bottom: 51px;
    color: #595959;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 0;
    list-style-position: inside;
}

.list-primary-iton {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
    text-decoration: none;
    /* text-decoration: - як має бути удекорований текст - тобто підкреслення, закреслення та ін., в даному випадку  - без декорування, underline - підкреслення*/
}

.heder-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
    margin-top: 48px;
}
.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 11px;
}

.hightlight {
    color: #FB6D3A;
    margin-bottom: 8px;
}

.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    
}

.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;  
    color: #595959;
    padding-left: 0;
    list-style-position: inside;
    padding-bottom: 24px;
}

.education-name {
    color:#FFFFFF;
    margin-top: 47px;
    margin-left: 40px;
}

.education-place {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 11px;
    
    margin-left: 40px;
    
}

.education-job {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    margin-left: 40px;
    color:#FFFFFF;
    list-style-position: inside;
}

.education-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-left: 40px;
}



* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
  border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 160px;
  margin: 40px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }



